<%= simple_form_for @character, :html => { :class => 'form-horizontal' } do |f| %>

<fieldset>
    <%= f.input :name %>
    <%= f.input :sex, collection: ["Male", "Female"] %>
    <%= f.input :race, collection: ["Dwarf", "Elf", "Gnome", "Halfling", "Human", "Half Elf", "Half Orc"]%>
    <%= f.input :age %>
    <%= f.input :height %>
    <%= f.input :weight %>
    <%= f.input :eyes, collection: ["Hazel", "Brown", "Blue", "Green", "Gray", "Amber", "Red", "Violet"] %>
    <%= f.input :hair, collection: ["Black", "Brown", "Blond", "Auburn", "Chestnut", "Red", "Gray", "White"] %>
</fieldset>
<fieldset>
    <legend>
        Atributes
    </legend>
    <%= f.input  :strength, collection: 3..18 %>
    <%= f.input  :dexterity, collection: 3..18 %>
    <%= f.input  :constitution, collection: 3..18 %>
    <%= f.input  :intelligence, collection: 3..18 %>
    <%= f.input  :wisdom, collection: 3..18 %>
    <%= f.input  :charisma, collection: 3..18 %>
</fieldset>
<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    characters_path, :class => 'btn' %>
</div>
<% end %>
